body {
    background-color: darkgray;

  }

div1 {  
  margin-left: 50%;
  float: left;
  width:950px;
  height:450px;
}

div2 {
  width:950px;
  height:450px;
}

div3 {
  margin-left: 50%;
  float: left;
  width:950px;
  height:450px;
}

div4 {
  width:950px;
  height:450px;
}
